menu "Master Station Main Configuration"

config BLINK_GPIO
    int "Blink GPIO number"
	range 0 34
	default 2
	help
		GPIO number (IOxx) to blink on and off.

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config COMMAND_PIN1
    int "GPIO number for giving command"
	range 0 34
	default 4
	help
		GPIO number (IOxx) to input command.

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config HC12SETGPIO
    int "GPIO number for HC12 module SET pin"
	range 0 34
	default 5
	help
		GPIO number (IOxx) to blink on and off (is the GPIO connected to SET pin of HC12)

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config HC12TXGPIO
    int "GPIO number for USART HC12 TX"
	range 0 34
	default 18
	help
		GPIO number (IOxx) to receive from HC12 (is the GPIO connected to TX of HC12)

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config HC12RXGPIO
    int "GPIO number for USART HC12 RX"
	range 0 34
	default 19
	help
		GPIO number (IOxx) to trasnmit to HC12 (is the GPIO connected to RX of HC12)

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config CH_NO_HC12
    hex "Channel Number HC12"
	default 0x01
	help
		Channel Number HC12 to exhcange data with slave station.

config NUM_PRES_BLINKS
    int "Number of presentation blinks"
	default 3
	help
		Number of blinks at start_up.

choice TRANSPARENTMODEBAUDHC12
		prompt "Baud rate in transparent mode to remote station"
		default BAUDTRANS2400
		help
			Select Baud rate for transparent trasnmit mode
		config BAUDTRANS1200
			bool "1200"
		config BAUDTRANS2400
			bool "2400"
		config BAUDTRANS4800
			bool "4800"
		config BAUDTRANS9600
			bool "9600"		
		config BAUDTRANS19200
			bool "19200"
		config BAUDTRANS38400
			bool "38400"
		config BAUDTRANS57600
			bool "57600"
		config BAUDTRANS115200
			bool "115200"
endchoice

endmenu