menu "Master Station Main Configuration"

config TIMEOUT
    int "Timeout (in milliseconds)"
range 1000 15000
    default 3500
	help
		Timeout for switching off leds after notifying sucess/failire.


config BLINK_GPIO
    int "Blink GPIO number"
range 0 34
	default 2
	help
		GPIO number (IOxx) to blink on-off

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config GPIO_OK
    int "OK GPIO number"
	range 0 34
	default 16
	help
		GPIO number (IOxx) to notify OK of last command.

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config GPIO_NOK
    int "NOT OK GPIO number"
	range 0 34
	default 17
	help
		GPIO number (IOxx) to notify KO of last command.

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config COMMAND_PIN_UNO
    int "First GPIO number for giving command"
	range 0 34
	default 4
	help
		GPIO number (IOxx) to input command.

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config COMMAND_PIN_DUE
    int "Second GPIO number for giving command"
	range 0 34
	default 5
	help
		GPIO number (IOxx) to input command.

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config HC12SETGPIO
    int "GPIO number for HC12 module SET pin"
	range 0 34
	default 5
	help
		GPIO number (IOxx) to blink on and off (is the GPIO connected to SET pin of HC12)

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config HC12TXGPIO
    int "GPIO number for USART HC12 TX"
	range 0 34
	default 18
	help
		GPIO number (IOxx) to receive from HC12 (is the GPIO connected to TX of HC12)

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config HC12RXGPIO
    int "GPIO number for USART HC12 RX"
	range 0 34
	default 19
	help
		GPIO number (IOxx) to trasnmit to HC12 (is the GPIO connected to RX of HC12)

		Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

		GPIOs 35-39 are input-only so cannot be used as outputs.

config CH_NO_HC12
    hex "Channel Number HC12"
	default 0x01
	help
		Channel Number HC12 to exhcange data with slave station.

choice TRANSPARENTMODEBAUDHC12
		prompt "Baud rate in transparent mode to remote station"
		default BAUDTRANS2400
		help
			Select Baud rate for transparent trasnmit mode
		config BAUDTRANS1200
			bool "1200"
		config BAUDTRANS2400
			bool "2400"
		config BAUDTRANS4800
			bool "4800"
		config BAUDTRANS9600
			bool "9600"		
		config BAUDTRANS19200
			bool "19200"
		config BAUDTRANS38400
			bool "38400"
		config BAUDTRANS57600
			bool "57600"
		config BAUDTRANS115200
			bool "115200"
endchoice

choice STATION_ROLE
		prompt "Role of this station"
		default ROLEMASTER
		help
			Select the role of this station among MASTER, SLAVE, MOBILE
		config ROLEMASTER
			bool "MASTER"
		config ROLESLAVE
			bool "SLAVE"
		config ROLEMOBILE
			bool "MOBILE"
endchoice

config ADDR_MASTER_STATION
    int "Address of Master Station"
	range 0 255
	default 1
	help
		Address of Master Station

config ADDR_SLAVE_STATION
    int "Address of Slave Station"
	range 0 255
	default 2
	help
		Address of Slave Station

config ADDR_MOBILE_STATION
    int "Address of Mobile Station"
	range 0 255
	default 3
	help
		Address of Mobile Station

config NUM_PRES_BLINKS
    int "Number of presentation blinks"
	default 3
	help
		Number of blinks at start_up.

config MIODEBUG
    int "Debug Mode Active (1) Not Active (0)"
	range 0 1
	default 0
	help
		Activate a more verbose output

endmenu